<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ValleybrookMessenger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBCE97C41D7F10D200B93AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCE97DB1D7F10D300B93AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBCE97E61D7F10D300B93AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
