<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1019189722915-ago6h7ol6obfssfutcdogk19t1fi8bgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019189722915-ago6h7ol6obfssfutcdogk19t1fi8bgt</string>
	<key>API_KEY</key>
	<string>AIzaSyDvTtsz9LRpd1U-gGEaWSG3UoQ77AS-qD0</string>
	<key>GCM_SENDER_ID</key>
	<string>1019189722915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AJZ.ValleybrookMessenger</string>
	<key>PROJECT_ID</key>
	<string>valleybrookmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>valleybrookmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019189722915:ios:b195674dfed4821e</string>
	<key>DATABASE_URL</key>
	<string>https://valleybrookmessenger.firebaseio.com</string>
</dict>
</plist>